<div class="container jumbotron">
  <h4>O projekcie</h4><hr>
  <p>Prognozowanie indeksu Dow Jones Industrial z użyciem modelu ARIMA, sieci neuronowych oraz przetwarzania języka naturlanego.</p>
  <p>v0.0.1 (03.01.2018)</p>
</div>
